body {
    margin: 0;
    padding: 0;
    font-family: Berlin Sans FB, sans-serif;
    
  }
  .taskbar {
    background-color: #051947;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    height: 60px;
    font-weight: 400;
  }
  .logo{
    color: #fff;
    padding-left:20px ;
    font-size: 27px;
  }
  .location{
    margin-left: 65%;
  }
  .taskbar a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }

  .taskbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s, background-color 0.4s;
  }

  .taskbar a.home:hover::before {
    transform: scaleX(1);
    background-color: white;
  }

  .taskbar a.Description:hover::before {
    transform: scaleX(1);
    background-color: white;
  }

  .taskbar a.Logout:hover::before {
    transform: scaleX(1);
    background-color: white;
  }
          table{
            position:relative;
              width: 400px;
              
              margin-top: 30px;
              margin-left: 530px;
              padding-top: 75%;
          }
          table,td,th{
              border: 4px solid black;
              border-collapse: collapse;
              font-size: 22px;
          }
          td{
              padding: 10px;
          }
          .heading{
              text-align: center; 
              padding-top: 50px;
              padding-left: auto; 
              padding-right: auto;
          }
          .slideshow-container {
              max-width: 1000px;
              position:relative;
  }
  .Containers {
    display: none;
  }
  .object-fit-contain{
    height: 400px;
    width: 700px;
    margin-left: 350px;
      padding-left: 5%;
        padding-top: 25px;
  }
  .Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 15px 14px 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .Back{
    cursor: pointer;
    position: relative;
    margin-left: 650px;
    padding-right: 75%;
    color: #051947;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease;
    border-radius: 100px;
    user-select: none;
  }
  .forward {
    margin-left: 675px;
    cursor: pointer;
    position: relative;
    color: #051947;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease;
    user-select: none;
  }
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  .Back:hover, .forward:hover {
    background-color: rgba(255, 255, 255, 0.977);
  }
  .dots {
    align-items: center;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    
  }
  .enable, .dots:hover {
    background-color: #717161;
  }
  .fade {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 6000s;
    animation-name: fade;
    animation-duration: 6000s;
  }
  @-webkit-keyframes fade {
    from {opacity: 4}
    to {opacity: 10}
  }

  @keyframes fade {
    from {opacity: 1}
    to {opacity: 5}
  }
  .btn-tick{ 
    margin-left: 470px;
    background-color: #051947;
    padding: 8px 16px;
    border-radius: 69px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  .btn-tick:hover{
    background-color: rgb(55, 175, 215);
    color: rgb(255, 255, 255);
  }
  .btn-cross{
    background-color: rgb(133, 38, 38);
    padding: 8px 16px;
    border-radius: 69px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  .btn-cross:hover{
    background-color: lightcoral;
    color: rgb(255, 255, 255);
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .gallery-item {
    margin-top: 30px;
    margin-left: 175px;
    width: 550px;
    margin-bottom: 20px;
    position: relative;
  }
  .gallery-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #051947;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-radius: 25px;
  }
  .gallery-caption {
    margin-top: 50px;
    margin-left: 20px;
  }
  .gallery-item:hover .gallery-caption {
    opacity: 1;
  }
 